.container {
  /*  */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: column;
  width: 70vw;
  height: 70vh;

  background-color: rgba(55, 55, 55, 0);

  padding-top: 0px;
  padding-left: auto;
  border-radius: 15px;
}

.containerFondo {
  display: flex;
  justify-content: center;
  margin: auto;
}
.RaMFondo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  transition: all 1.5s ease 0.55s;
  background-size: cover;

  border-radius: 15px 0 0 15px;
}

.containerlogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.RaMLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin: 60px 40px 60px 40px;
  height: 80%;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

input {
  font-size: 25px;
  height: auto;
  width: 80%;
}
label {
  font-size: larger;
  color: rgb(18, 187, 69);
}
.Btn_Log button {
  font-size: 50px;
  border-radius: 10px;
}
.Btn_Log button:hover {
  background-color: rgb(0, 255, 76);
}
.warning {
  border-color: red;
}
.Image_Fondo {
  height: 60%;
  width: 550px;
}
.Image_RM {
  filter: invert(01) sepia(0) hue-rotate(50deg) saturate(2020%);
  padding-bottom: 50px;
  height: 100px;
  width: auto;
}
