.container {
  background-image: url(../../Image/Form-2.jpg);

  display: flex;

  margin: auto;
  width: 20%;
  height: 70vh;

  align-items: center;
  align-items: center;
  flex-direction: column;

  justify-self: center;

  background-size: cover;
  background-color: aliceblue;

  padding-top: 100px;
  padding-left: auto;
  border-radius: 15px;
}
input {
  font-size: medium;
  width: 230px;
}
label {
  font-size: medium;
  color: rgb(0, 255, 76, 0.8);
}
button {
  font-size: medium;
}
button:hover {
  background-color: rgb(0, 255, 76);
}
.warning {
  border-color: red;
}
