@import url("https://fonts.googleapis.com/css?family=Anton&effect=fire-animation");
.container {
  /*  */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: column;
  width: 70vw;
  height: 70vh;

  background-color: rgba(55, 55, 55, 0);

  padding-top: 0px;
  padding-left: auto;
  border-radius: 15px;
}

.containerFondo {
  display: flex;
  justify-content: center;
  margin: auto;
}
.RaMFondo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  transition: all 1.5s ease 0.55s;
  background-size: cover;

  border-radius: 15px 0 0 15px;
}

.containerlogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.RaMLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin: 60px 40px 60px 40px;
  height: 80%;
  width: 80%;
  background-color: rgba(19, 17, 17, 0.723);
  border-radius: 15px;
}

.RaMLogin input {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 27px;
  color: rgb(74, 83, 82);
  width: 80%;
  height: auto;
  border-radius: 15px;
}
label {
  font-size: 25px;
  -webkit-text-stroke: 2px rgba(57, 169, 91, 0.45);
  color: rgba(123, 255, 0, 0.8);
}
.Btn_Log button {
  font-family: "Anton", sans-serif;
  margin: 1px 1px 1px 1px;
  width: 110%;
  font-size: 35px;
  height: auto;
  border-radius: 10px;
}
.Btn_Log button:hover {
  background-color: rgba(124, 255, 43, 0.783);
}
.warning {
  border-color: red;
}
.Image_Fondo {
  height: 60%;
  width: 550px;
}
.Image_RM {
  /* filter: invert(0.6) sepia(0.4) hue-rotate(140deg) saturate(1500%); */
  padding-bottom: 25px;
  height: 200px;
  width: auto;
}
