.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(250, 183, 0, 0.778);
}
.containerInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(35, 38, 35, 0.662);
  border: 1px solid;
  width: 750px;
}
.containerInfo img {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 255, 94, 0.6);
}

.container button {
  font-size: 30px;
  font-family: "Anton", sans-serif;
  width: 150px;
  height: auto;
  margin-left: 15px;
  margin-right: 25px;
  border-radius: 10px;
}
.container button:hover {
  background-color: rgba(123, 255, 0, 0.945);
}
