.contenedor{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 270px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.5s ease;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
}

.container:hover {
    transform: scale(1.1);
  }

.contenedorBtnX{
    display: flex;
    justify-content: flex-end;
}

.buttonX{
    border-radius: 20px;
    margin: 10px 10px 0 0;
    border: none;
    background-color: red;
    color: aliceblue;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  img {
    width: 200px;
    border-radius: 10px 10px 0 0;
  }
  .contenedorImage {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    align-items: center;
  }
  .namePersonaje {
    background-color: rgba(0, 255, 255, 0.6);
    position: absolute;
    margin-bottom: 0px;
  }
  .propsDContenedor {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    margin: 0px;
    color: aqua;
    border-radius: 0 0 20px 20px;
  }
  
  .propsDContenedor h2 {
      margin: 0;
  }
  